@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #3FEB7D;
    --grey: 
    #338E8B;
    --ow : 
    #DBF2F1;
}

body{
    font-family: 'Outfit', sans-serif;
    margin:0px ;
    /* background:#F9F871; */
    min-height: 100vh;
    /* display: flex; */
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
hr{
    margin: 2rem 0rem;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.center{
    max-width: 700px;
    margin: auto;
    width: 600px;

}
/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 120%;
}
.link:hover{
    background-color: azure;
    border-radius: 5px;
}
.primarylink{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: black;
    
}
.secondarylink{
    color: black;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* list */
.non-bullet{
    list-style: none;
}
.list-inline{
    display: inline;
    padding:0rem 0.5rem;
}
/* navigation */
.navigation{
    background-color: var(--primary-color);
    color: black;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.7rem;
    
}

.navigation .nav-icons {
    text-align: right;
}

.navigation .link{
    color: black;
    }
.navigation .link-active{
    font-weight: bold;
}
/* header */
.hero{
    padding: 2rem;
    
}
.hero .hero-image{
    max-width: 350px;
    display: block;
    margin: auto;
}
.hero .hero-heading{
    text-align: center;
    padding-top: 1rem;
    color: var(--grey);
}
.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}

/* sections */
.section{
    padding:1rem;
    margin-bottom: 1rem;
    

}
.section h2,h3{
    text-align: center;
    
}

.ow{
    background-color: var(--ow);

}

/* footer */
.footer{
    margin-top: auto;
    width: auto;
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    color: black;
    border-top-right-radius: 1rem;
    padding-top: 5rem;
    
   
}
.footer .footer-header{
    font-weight: bold;
    font-size: 130%;
}
.footer .link{
    color: black;
}

.footer ul{
    padding-inline-start: 0px;
}

/* space */
.space{
    padding-bottom: 1rem;
}

/* curve */
.curve{
    border-radius: 1rem;
}
/* font size */
.font-size{
    font-size: 1.3rem;
}
/* section head */
.section-head{
    font-size: 1.3rem;
    

}
.distance{
    margin-bottom: 4rem;
}