@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #A7F3D0;
}

body{
    font-family: 'Montserrat', sans-serif;
}
hr{
    margin: 2rem 0rem;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.center{
    max-width: 500px;
    margin: auto;

}
/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primarylink{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: black;
    
}
.secondarylink{
    color: black;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* list */
.non-bullet{
    list-style: none;
}
.list-inline{
    display: inline;
    padding:0rem 0.5rem;
}
/* navigation */
.navigation{
    background-color: var(--primary-color);
    color: black;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
    
}

.navigation .nav-icons {
    text-align: right;
}

.navigation .link{
    color: black;
    }
.navigation .link-active{
    font-weight: bold;
}